.margin {
  margin - left: 10px;
  margin - right: 10px;
}

.icon-actions {
  font-size: 20px;
}


.checkbox {
  vertical-align: middle;
}

.actions {
  float: center;
}

.item-text-wrap {
  overflow: auto;
}

ion-edit.icon-actions.margin
{
    margin-left: 40px;
}
.ion-checkmark-circled.icon-actions.margin
{
    margin-left: 40px;
}
.ion-trash-b.icon-actions.margin
{
    margin-left: 40px;
}
